{% extends "storeBackendBundle::layout.html.twig" %}
{% block titlepage %}
    <i class="fa fa-bookmark"></i> Liste de mes Produits
{% endblock %}
{% block content %}
    <div class="row">
        <a href="{{ path('store_backend_product_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">Ajouter des produits</a>
    </div>
    <div class="panel">
    <div class="panel-body">
    <table class="table table-bordered">
    <thead>
    <th>Title</th>
    <th>Date de création</th>
    <th>Active</th>
    <th>Ref</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Taxe</th>
    <th>Jewerly</th>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
        <td><a href="{{ path('store_backend_product_view',{'name':product.title,'id':product.id}) }}">{{ product.title }}</a></td>
        <td><i>{{ product.dateCreated|date('d/m/Y') }}</i></td>
        <td>
        {% if product.active == 0 %}
            <a href="{{ path('store_backend_product_active',{'id': product.id }) }}"><i class="fa fa-times"></i></a>
        {% else %}
            <a href="{{ path('store_backend_product_desactive',{'id': product.id }) }}"><i class="fa fa-check"></i></a>
        {% endif %}
        </td>
        <td>
        <sub>{{ product.ref }}</sub> {#affiche la référence du produit#}
        </td>
        {#{{ dump (product) }}#} {#deboguer une variable#}
        <td>{{ product.description|striptags }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }} €</td>
        <td>{{ product.taxe }}%</td>
        <td>{{ product.jeweler }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i> Details</button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('store_backend_product_view',{'name':product.title,'id':product.id}) }}"><i class="fa fa-search"></i> Voir </a></li>
                    <li><a href="{{ path('store_backend_product_edit',{'id': product.id }) }}"><i class="fa fa-pencil"></i> Editer</a></li>
                    <li><a href="{{ path('store_backend_product_remove',{'id':product.id}) }}"><i class="fa fa-times"></i> Supprimer</a></li>
                </ul>
            </div>
        </td>


    {% else %} {#si Aucun Produit#}
        <div class="alert alert-dark">Aucun Produit</div>
    </tr>
    {% endfor %}

    </tbody>
   </table>
    </div>
    </div>
{% endblock %}