{% extends "storeBackendBundle::layout.html.twig" %}
{% block titlepage %}
    <i class="fa fa-bookmark"></i> Liste de mes Produits
{% endblock %}
{% block content %}
    <div class="row">
        <a href="{{ path('store_backend_product_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">Ajouter des produits</a>
    </div>
    <div class="panel">
    <div class="panel-body">
        {# Me compte la liste de tous mes produits #}
        <div class="count">
           {{ products.getTotalItemCount }} produits trouvés
        </div>
        <hr/>
    <table class="table table-bordered">
    <thead>
    {# 1er argument, le tableau de produits,
       2e arguments le label de la colone
       3e argument la colonne sur lequelle le tri va s'effectuer#}
    <th>{{ knp_pagination_sortable(products, 'Titr  e', 'p.title') }}</th>
    <th>{{ knp_pagination_sortable(products, 'Date de création', 'p.dateCreated') }}</th>
    <th>Active</th>
    <th>{{ knp_pagination_sortable(products, 'Référence', 'p.ref') }}</th>
    <th>Page de couverture</th>
    <th>{{ knp_pagination_sortable(products, 'Quantity', 'p.quantity') }}</th>
    <th>{{ knp_pagination_sortable(products, 'Prix', 'p.price') }}</th>
    <th>Taxe</th>
    <th>Jewerly</th>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
        <td><a href="{{ path('store_backend_product_view',{'name':product.title,'id':product.id}) }}">{{ product.title }}</a></td>
        <td><i>{{ product.dateCreated|date('d/m/Y') }}</i></td>
        <td>
        {% if product.active == 0 %}
            <a href="{{ path('store_backend_product_activate',{'id': product.id,'action': 1 }) }}"><i class="fa fa-times"></i></a>
        {% else %}
            <a href="{{ path('store_backend_product_activate',{'id': product.id,'action': 0 }) }}"><i class="fa fa-check"></i></a>
        {% endif %}
        </td>
        <td>
        <sub>{{ product.ref }}</sub> {#affiche la référence du produit#}
        </td>
        {#{{ dump (product) }}#} {#deboguer une variable#}
        {#<td>{{ product.description|striptags }}</td>#}
        <td>
            {% if product.cover == 1 %}
                <a href="{{ path('store_backend_product_cover',{'id': product.id,'action': 0 }) }}"><i class="fa fa-times"></i></a>
            {% else %}
                <a href="{{ path('store_backend_product_cover',{'id': product.id,'action': 1 }) }}"><i class="fa fa-check"></i></a>
            {% endif %}
        </td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }} €</td>
        <td>{{ product.taxe }}%</td>
        <td>{{ product.jeweler }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i> Details</button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('store_backend_product_view',{'name':product.title,'id':product.id}) }}"><i class="fa fa-search"></i> Voir </a></li>
                    <li><a href="{{ path('store_backend_product_edit',{'id': product.id }) }}"><i class="fa fa-pencil"></i> Editer</a></li>
                    <li><a href="{{ path('store_backend_product_remove',{'id':product.id}) }}"><i class="fa fa-times"></i> Supprimer</a></li>
                </ul>
            </div>
        </td>


    {% else %} {#si Aucun Produit#}
        <div class="alert alert-dark">Aucun Produit</div>
    </tr>
    {% endfor %}

    </tbody>
   </table>
        <div class="navigation">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
    </div>
{% endblock %}