{% extends "storeBackendBundle::layout.html.twig" %}
{% block titlepage %}
    {# Le filtre trans de twig va me chercher la traduction pour le texte Pages CMS #}
    <i class="fa fa-bookmark"></i> {{ "cms.list.title"|trans }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="btn-group pull-right">
            {#la variable _locale que j'envoi en paramètre dans la route sera la langue affecté à mon utilisateur#}
            <a href="{{ path('store_backend_cms_list', {'_locale':'en'}) }}" class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'en' %} active {% endif %}">Anglais</a>
            <a href="{{ path('store_backend_cms_list', {'_locale':'fr'}) }}" class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'fr' %} active {% endif %}">Français</a>
        </div>
    </div>
    <div class="row">
        <a href="{{ path('store_backend_cms_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">Ajouter une page CMS</a>
    </div>
    <div class="panel">
    <div class="panel-body">
    <table class="table table-bordered">
        <div class="alert alert-info alert-dark">
            {#Filtre transchoice permet de choisir#}
            {{ "cms.list.nb"|transchoice(2) }}
        </div>
        <thead>
            <th>{{ "cms.list.table.th.title"|trans }}</th>
            <th>{{ "cms.list.table.th.active"|trans }}</th>
            <th>{{ "cms.list.table.th.summary"|trans }}</th>
            <th>{{ "cms.list.table.th.description"|trans }}</th>
            <th>{{ "cms.list.table.th.state"|trans }}</th>
        </thead>
    <tbody>
    {% for cms in cms %}
    <tr>

         <td>{{ cms.title }}</td>
         <td>
          {% if cms.active == 0 %}
              <a href="{{ path('store_backend_cms_activate',{'id':cms.id,'action':1}) }}"><i class="fa fa-times"></i></a>
          {% else %}
              <a href="{{ path('store_backend_cms_activate',{'id':cms.id,'action':0}) }}"><i class="fa fa-check"></i></a>
          {% endif %}
         </td>
         <td>{{ cms.summary }}</td>
         <td>{{ cms.description }}</td>
         <td>
             {% if cms.state == 2 %}
                 <a href="" class="btn btn-success disabled">Lu</a>
                 <a href="{{ path('store_backend_cms_state',{'id':cms.id,'action':1}) }}" class="btn btn-primary">En cours de lecture</a>
                 <a href="{{ path('store_backend_cms_state',{'id':cms.id,'action':0}) }}" class="btn btn-danger">Non lu</a>

                 {% elseif cms.state ==1 %}
                     <a href="{{ path('store_backend_cms_state',{'id':cms.id,'action':2}) }}" class="btn btn-success">Lu</a>
                     <a href="" class="btn btn-primary disabled">En cours de lecture</a>
                     <a href="{{ path('store_backend_cms_state',{'id':cms.id,'action':0}) }}" class="btn btn-danger">Non lu</a>
                     {% else %}
                         <a href="{{ path('store_backend_cms_state',{'id':cms.id,'action':2}) }}" class="btn btn-success">Lu</a>
                         <a href="{{ path('store_backend_cms_state',{'id':cms.id,'action':1}) }}" class="btn btn-primary">En cours de lecture</a>
                         <a href="" class="btn btn-danger disabled">Non lu</a>
             {% endif %}

         </td>
         <td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i> Details</button>
              <ul class="dropdown-menu">
                  <li><a href="{{ path('store_backend_cms_view',{'id':cms.id,'name':cms.title}) }}"><i class="fa fa-search"></i> Voir </a></li>
                  <li><a href="{{ path('store_backend_cms_edit',{'id':cms.id}) }}"><i class="fa fa-pencil"></i> Editer</a></li>
                  <li><a href="{{ path('store_backend_cms_remove',{'id':cms.id}) }}"><i class="fa fa-times"></i> Supprimer</a></li>
              </ul>
            </div>
         </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
{% endblock %}