{% extends "storeBackendBundle::layout.html.twig" %}
{% block titlepage %}
    <i class="fa fa-bookmark"></i> Liste CMS
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
            <th>Title</th>
            <th>Active</th>
            <th>Summary</th>
            <th>Description</th>
            <th>State</th>
        </thead>
    <tbody>
    {% for cms in cms %}
    <tr>

         <td>{{ cms.title }}</td>
         <td>
          {% if cms.active == 0 %}
            <i class="fa fa-times"></i>
          {% else %}
            <i class="fa fa-check"></i>
          {% endif %}
         </td>
         <td>{{ cms.summary }}</td>
         <td>{{ cms.description }}</td>
         <td>{{ cms.state }}</td>
         <td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i> Details</button>
              <ul class="dropdown-menu">
                  <li><a href="{{ path('store_backend_cms_view',{'id':cms.id,'name':cms.title}) }}"><i class="fa fa-search"></i> Voir </a></li>
                  <li><a href="#"><i class="fa fa-pencil"></i> Editer</a></li>
                  <li><a href="{{ path('store_backend_cms_remove',{'id':cms.id}) }}"><i class="fa fa-times"></i> Supprimer</a></li>
              </ul>
            </div>
         </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}