{% extends "storeBackendBundle::layout.html.twig" %}
{% block titlepage %}
    <i class="fa fa-bookmark"></i> Liste Category
{% endblock %}
{% block content %}
    <div class="row">
        <a href="{{ path('store_backend_category_new') }}" class="pull-right btn btn-primary btn-lg btn-rounded">Ajouter un catégorie</a>
    </div>
    <div class="panel">
        <div class="panel-body">
<table class="table table-bordered">
    <thead>
    <th>Title</th>
    <th>Active</th>
    <th>Description</th>
    <th>Position</th>
    <th>Nombre des produits</th>
    </thead>
    <tbody>
    {% for category in categories %}
    <tr>
        <td><a href="{{ path('store_backend_category_view',{'id':category.id,'name':category.title}) }}">{{ category.title }}</a></td>
        <td>
        {% if category.active == 0 %}
            <i class="fa fa-times"></i>
        {% else %}
            <i class="fa fa-check"></i>
        {% endif %}
        </td>
        <td>{{ category.description }}</td>
        <td>{{ category.position }}</td>
        <td>{{ category.product|length }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i> Details</button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('store_backend_category_view',{'id':category.id,'name':category.title}) }}"><i class="fa fa-search"></i> Voir </a></li>
                    <li><a href="{{ path('store_backend_category_edit',{'id':category.id}) }}"><i class="fa fa-pencil"></i> Editer</a></li>
                    <li><a href="{{ path('store_backend_category_remove',{'id':category.id}) }}"><i class="fa fa-times"></i> Supprimer</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
            </div>
        </div>
{% endblock %}
