{% extends "storeBackendBundle::layout.html.twig" %}
{% block titlepage %}
    <i class="fa fa-bookmark"></i> Souscription de Bijoutier
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.username) }}
        </div>
    </div>
    <div class="row">
       <div class="col-md-3">
            {{ form_row(form.password.mdp) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.password.mdp_conf) }}
        </div>
    </div>

    {#bouton envoyer#}
    {{ form_widget(form.envoyer,{'attr':{'class':'btn btn-lg btn-primary'}}) }}

    {#ATTENTION: token à ne pas oublier#}
    {{ form_widget(form._token) }}

    {#Créer une balise fermeture </form>#}
    {{ form_end(form, {'render_rest':false}) }}
{% endblock %}